<div class="jumbotron bg-dark-subtle ">
    <div class="m-2">
        <h1 class="display-5">Bem Vindo</h1>
        <p class="lead">Site Feito com Nodejs e handlebars, Usando a biblioteca do nodeJS + Express + mongoDB.</p>
        <hr class="my-4">
        <p class="lead">
            <p class="">Aqui você vai poder ler sobre novidades do mundo da programação</p>
            <a class="btn btn-primary btn-lg m-2" href="/usuarios/registro" role="button">Criar Conta</a>
        </p>
    </div>
</div>
<h2>Postagem Recente</h2>

<div class="row">
    {{#each postagem}}
        <div class="col-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h3>{{titulo}}</h3>
                    <div class="align-items-center row">
                        <div class="col-10"></div>
                        <div class="col-2">
                             <small class="text-muted text-right" id="data">{{dataFormatada}}</small>
                        </div>
                    </div>
                    <p>{{descricao}}</p>
                    <small class="text-muted">{{categoria.nome}}</small>
                </div>
                <div class="mt-4 m-2">
                    <a href="/postagem/{{slug}}"><button class="btn btn-outline-success mt-4 m-2">Leia Mais</button></a>
                </div>
            </div>
        </div>
        {{else}}
            <h4>Sem Postagem no Momento!</h4>
    {{/each}}
</div>


