<h1>{{categoria.nome}}</h1>
<div class="row">
    {{#each postagem}}
        <div class="col-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h3>{{titulo}}</h3>
                    <div class="align-items-center row">
                        <div class="col-10"></div>
                        <div class="col-2">
                             <small class="text-muted text-right" id="data">{{dataFormatada}}</small>
                        </div>
                    </div>
                    <p>{{descricao}}</p>
                    <small class="text-muted">{{categoria.nome}}</small>
                </div>
                <div class="mt-4 m-2">
                    <a href="/postagem/{{slug}}"><button class="btn btn-outline-success mt-4 m-2">Leia Mais</button></a>
                </div>
            </div>
        </div>
        {{else}}
            <h4>Sem Postagem no Momento!</h4>
    {{/each}}
</div>